@media (max-width: 1024px) {
  #header .header-title {
    font-size: 29px;
  }

  #header .header-logo {
    width: 180px;
  }
  #header .header-nav-item {
    font-size: 13px;
    padding-top: 15px;
  }
}

@media (max-width: 768px) {
  #header .header-title {
    font-size: 23px;
  }
  #header .header-logo {
    width: 140px;
  }
  #header .header-nav-item {
    font-size: 10px;
    padding-top: 10px;
    margin: 0 10px;
  }

}

@media (max-width: 426px) {
  #header .header-title {
    font-size: 12px;
    margin-top: -25px;
  }
  #header .header-logo {
    width: 90px;
  }
  #header .header-nav-item {
    font-size: 7px;
    padding-top:15px;
    margin: 0 5px;
  }
  #header .header-nav {

    margin-top: -20px;
  }
}

@media (max-width: 375px) {
  #header .header-title {
    font-size: 11px;
  }
  #header .header-logo {
    width: 85px;
  }
  #header .header-nav-item {
    font-size: 6px;
    padding-top: 13px;
    margin: 0 4px;
  }

}
@media (max-width: 320px) {
  #header .header-title {
    font-size: 10px;

  }
  #header .header-logo {
    width: 80px;
  }
  #header .header-nav-item {
    font-size: 5px;
    margin: 0 3px;
  }

}