@media (max-width: 1024px) {
  #services .services-block {
    width: 249px;
    margin: 50px 20px;
    align-items: center;
    display: flex;
  }
}

@media (max-width: 768px) {
  #services .services-title {
    font-size: 32px;
  }
  #services .services-desc {
    font-size: 15px;
    padding-top: 10px;
  }
  #services .services-info-desc {
    font-size: 11px;
  }
  #services .services-asset-img {
    width: 40px;
    height: 40px;
  }
}

@media (max-width: 426px) {
  #services .services-title {
    font-size: 25px;
  }
  #services .services-desc {
    font-size: 13px;
    padding-top: 10px;
  }
  #services .services-info-title {
    font-size: 18px;
  }
  #services .services-asset-img {
    width: 30px;
    height: 30px;
  }
  #services .services-info-desc {
    font-size: 11px;
  }
}

@media (max-width: 320px) {
  #services .services-block {
    width: 295px;
    margin: 16px 23px;
    align-items: center;
    display: flex;
  }
}