* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
 font-family: 'Montserrat', sans-serif;
}

a {
  text-decoration: none;

}

.container {
  width: 90%;
  margin: 0 auto;
}

li {
  list-style: none;
}

$titles: #6458FF;
//$font-stack: 'Montserrat', sans-serif;
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');