$titles: #6458FF;
$white: #FFFFFF;
$font-stack: 'Montserrat' ,sans-serif;
#header {
  width: 100%;
  background: $white;
  position: fixed;
  opacity: 0.8;
  .header {
    //padding-top: 30px;
    display: flex;
    justify-content: space-between;
    &-logo {
      width: 200px;
    }

    &-title {
      font-family: $font-stack;
      font-weight: bolder;
      font-size: 32px;
      line-height: 39px;
      color: $titles;

    }
    &-nav {
      display: flex;
      justify-content: space-around;
      padding-top: 45px;
      border-bottom: $white 5px solid;
      &-item {
        font-family: $font-stack;
        font-style: normal;
        font-weight: bold;
        font-size: 16px;
        color: black;
        margin: 0 15px;
      }
    }
  }
}
